@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31413c;
}

.button-container {
    border: 4px solid #c0b38f;
    padding: 5px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(216, 160, 56, 0.7);
}

button {
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #31413c;
    background: linear-gradient(to top, #d8a038, #f3cc84);
    border: 2px solid #d1972b;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(216, 160, 56, 0.7);
}

button:hover {
    background: linear-gradient(to bottom, #d8a038, #f3cc84);
}
